.header {
    padding: 40px 0;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 2;
}

.header__box {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__tel-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.header__text {
    color: var(--color-white, #fff);
    text-align: center;
    font-size: 23.85px;
    font-weight: 400;
    margin-bottom: 3px;
}

.header__call {
    color: var(--color-white, #fff);
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    border-bottom: 1px solid var(--color-white, #fff);
    padding-bottom: 1px;
}

.header__icon {
    display: none;
}

@media (max-width: 1024px) {
    .header__logo {
        width: 60px;
    }

    .header__text {
        font-size: 21px;
    }
    
    .header__call {
        font-size: 13px;
    }

}

@media (max-width: 480px) {
    .header__logo {
        width: 30px;
    }

    .header__text {
        display: none;
    }
    
    .header__icon {
        display: block;
    }

    .header__call {
        display: none;
    }

}